$match-stats-box-shadow: 0 1px 2px rgba(24, 65, 92, 0.09);
$colors: ('w': #3d9e24, 'd': #e4c114, 'o': #4591b5, 'u': #f78d8d);

:root {
  --match-stats-color: #fff;
  --match-stats-background: #394e5d;
  --match-stats-background-alternative: #213848;
  --match-stats-spacer: 16px;
  --match-stats-fz-title: 24px;
  --match-stats-border-radius: 0;
  --match-stats-secondary-color: #394e5d;
  --match-stats-table-nth-bg: rgba(33, 56, 72, 0.5);
  --match-stats-card-spacer: 1.6rem;
  --match-stats-card-border-radius: 0;
  --match-stats-theme-color: #6b7f8f;
  --match-stats-theme-bg-color: #213848;
  --match-stats-border-color: #213848;

  @media screen and (min-width: 576px) { //media-breakpoint-up(sm)
    --match-stats-border-radius: 16px;
  }

  @media screen and (min-width: 992px) { //media-breakpoint-up(lg)
    --match-stats-spacer: 32px;
  }
}

.preview-stats {
  $self: &;

  color: var(--match-stats-color, #fff);
  background-color: var(--match-stats-background, #394e5d);
  padding: var(--match-stats-spacer, 1.6rem);
  border-radius: var(--match-stats-border-radius, 1.6rem);
  box-shadow: var(--match-stats-box-shadow, $match-stats-box-shadow);

  & + & {
    margin-top: var(--match-stats-spacer, 1.6rem);
  }

  &__title {
    font-size: var(--match-stats-fz-title, 24px);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
  }

  &__tabs-list {
    list-style-type: none;
    display: inline-flex;
    background-color: var(--match-stats-background-alternative, #213848);
    border-radius: 8px;
    margin: 0;
    padding: 4px;
  }

  &__tabs-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 8px;
    padding: 8px 16px;
    user-select: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &.active {
      color: #fff;
      background-color: #078ee7;
    }
  }

  &__scrollbar {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-collapse: collapse;

    tbody tr:nth-child(odd) td {
      background-color: var(--match-stats-table-nth-bg);
    }

    th {
      color: #6b7f8f;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      padding: 8px 4px;
    }

    td {
      padding: 4px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    min-height: 44px;
  }

  &__team-t-short {
    position: relative;
    width: 24px;
    padding-top: 24px;
    margin-right: 16px;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .stats-bordered {
    display: flex;
    justify-content: center;
    background-color: var(--match-stats-background-alternative, #213848);
    border-radius: 4px;
    padding: 8px;
  }

  .stats-top-header-bordered {
    padding: 8px;
    background-color: var(--match-stats-background-alternative, #213848);
    border: 2px solid var(--match-stats-border-color, #213848);
    border-radius: 8px;
  }

  .stats-col-1 {
    width: 1%;
  }

  .stats-col-5 {
    width: 5%;
  }

  .stats-col-10 {
    width: 10%;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .stats-left {
    text-align: left;
  }

  .stats-center {
    text-align: center;
  }

  .status {
    display: inline-flex;
    background-color: #eee;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    & + & {
      margin-left: 5px;
    }

    @each $key, $value in $colors {
      &.#{$key} {
        background-color: $value;
      }
    }
  }
}

.legend-1 {
  background-color: #0ea156 !important;
  color: white;
}

// Champions League Qualifiers
.legend-2 {
  background-color: #13b899 !important;
  color: white;
}

// Europa League
.legend-3 {
  background-color: #0881ba !important;
  color: white;
}

// Europa League Qualifiers
.legend-4 {
  background-color: #1cadf1 !important;
  color: white;
}

// Possible Europa League
.legend-5 {
  background-color: #333 !important;
  color: white;
}

// Relegation
.legend-6 {
  background-color: #e13636 !important;
  color: white;
}

// Relegation Playoffs
.legend-7 {
  background-color: #caa210 !important;
  color: white;
}

// Promotion
.legend-8 {
  background-color: #0ea156 !important;
  color: white;
}

// Promotion Playoffs
.legend-9 {
  background-color: #13b899 !important;
  color: white;
}

// Championship Round
.legend-10 {
  background-color: #82cc0a !important;
  color: white;
}

// Playoffs
.legend-11 {
  background-color: #caa210 !important;
  color: white;
}

// Relegation Round
.legend-12 {
  background-color: #caa210 !important;
  color: white;
}

// ACF Champions League
.legend-13 {
  background-color: #0ea156 !important;
  color: white;
}

// Επόμενο Γύρο
.legend-14 {
  background-color: #286b8a !important;
  color: white;
}

// Copa Libertadores
.legend-15 {
  background-color: #0ea156 !important;
  color: white;
}

// Copa Sudamericana
.legend-16 {
  background-color: #caa210 !important;
  color: white;
}

// παιρνούν από όμιλο σε Playoff για το Europa League
.legend-17 {
  background-color: #408aaf !important;
  color: white;
}

// Πιθανός σε Επόμενο Γύρο
.legend-18 {
  background-color: #0ea156 !important;
  color: white;
}

// Πιθανός Υποβιβασμός
.legend-19 {
  background-color: #e18536 !important;
}

// Εuropa conference league
.legend-20 {
  background-color: #3b72a5 !important;
}

.legend-21 {
  background-color: #4562a0 !important;
}

// Europa League Conference Qualifiers
.legend-22 {
  background-color: #7cc7ff !important;
}

// Προκριματικά Europa Conference League
.legend-23 {
  background-color: #bed957 !important;
}

// Προκριματικά Copa Libertadores
.legend-24 {
  background-color: #13b899 !important;
}

// Confederation Cup
.legend-25 {
  background-color: #13b899 !important;
}

// Arab Club Champions Cup
.legend-26 {
  background-color: #0881ba !important;
}

// Possible Europa Conference League
.legend-27 {
  background-color: #408aaf !important;
}

//AFC Champions League Qualifiers
.legend-28 {
  background-color: #0881ba !important;
}
